
*.toc

*.log

*.lof

*.blg

*.bbl

*.aux

*.synctex.gz

*.lot

*.out

*.brf

.DS_Store

delivery.pdf
model.pdf
tool.pdf
dhalperi_thesis.pdf
applications.pdf
background.pdf
approach.pdf
rate.pdf
introduction.pdf
related.pdf
