
dhalperi_thesis.toc

dhalperi_thesis.pdf

dhalperi_thesis.log

dhalperi_thesis.lof

dhalperi_thesis.blg

dhalperi_thesis.bbl

dhalperi_thesis.aux

dhalperi_thesis.synctex.gz

dhalperi_thesis.lot

*.texshop
